@use "sass:color";

span {
  $theme-running: #ababab;
  $theme-warning: #9ca62b;
  $theme-closing: #c20000;

  @mixin lighting-animation($name, $color) {
    @keyframes #{$name}-light {
      from {
        background: $color;
      }

      to {
        background: unset;
      }
    }
  }

  @include lighting-animation(warning, $theme-warning);
  @include lighting-animation(closing, $theme-closing);

  &.period-timer {
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    display: inline;
    font-size: 1.2rem;

    &.period-timer-running {
      border: 1px solid $theme-running;
    }

    &.period-timer-warning {
      border: 1px solid $theme-warning;
      animation: 1s warning-light;
    }

    &.period-timer-closing {
      border: 1px solid $theme-closing;
      animation: 1s closing-light;
    }
  }
}
