@use "sass:color";
@use "../../../styles/colors";

div {
  @mixin plot-tooltip-specific-style($suffix, $color) {
    &.plot-tooltip-#{$suffix} {
      border-radius: 5px;
      padding: 0.5rem;
      background-color: color.change($color, $lightness: 20%, $alpha: 0.7);
    }
  }

  @include plot-tooltip-specific-style(safe, colors.$color-safe);
  @include plot-tooltip-specific-style(warning, colors.$color-warning);
  @include plot-tooltip-specific-style(danger, colors.$color-danger-custom);

  &.plot {
    & line {
      shape-rendering: crispEdges;
    }
  }
}
