div.px-section-up {
  animation: 1s update-animation-up;
  border: 1px solid #26a69a;
  border-radius: 0.5rem;
  color: #26a69a;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}
@keyframes update-animation-up {
  from {
    box-shadow: inset 0 0 1rem #26a69a;
  }
  to {
    box-shadow: unset;
  }
}
@keyframes update-animation-warning-up {
  from {
    box-shadow: inset 0 0 1rem white;
  }
  to {
    box-shadow: unset;
  }
}
div.px-section-up.section-warning {
  animation: 1s update-animation-warning-up;
  background-color: #ef5350;
  color: white;
}
div.px-section-up * {
  flex-wrap: nowrap;
}
div.px-section-up .px-avg {
  font-size: 2rem;
  text-align: center;
}
div.px-section-up .px-diff-val {
  text-align: end;
}
div.px-section-down {
  animation: 1s update-animation-down;
  border: 1px solid #ef5350;
  border-radius: 0.5rem;
  color: #ef5350;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}
@keyframes update-animation-down {
  from {
    box-shadow: inset 0 0 1rem #ef5350;
  }
  to {
    box-shadow: unset;
  }
}
@keyframes update-animation-warning-down {
  from {
    box-shadow: inset 0 0 1rem white;
  }
  to {
    box-shadow: unset;
  }
}
div.px-section-down.section-warning {
  animation: 1s update-animation-warning-down;
  background-color: #ef5350;
  color: white;
}
div.px-section-down * {
  flex-wrap: nowrap;
}
div.px-section-down .px-avg {
  font-size: 2rem;
  text-align: center;
}
div.px-section-down .px-diff-val {
  text-align: end;
}
div.px-section-neutral {
  animation: 1s update-animation-neutral;
  border: 1px solid #fafafa;
  border-radius: 0.5rem;
  color: #fafafa;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}
@keyframes update-animation-neutral {
  from {
    box-shadow: inset 0 0 1rem #fafafa;
  }
  to {
    box-shadow: unset;
  }
}
@keyframes update-animation-warning-neutral {
  from {
    box-shadow: inset 0 0 1rem white;
  }
  to {
    box-shadow: unset;
  }
}
div.px-section-neutral.section-warning {
  animation: 1s update-animation-warning-neutral;
  background-color: #ef5350;
  color: white;
}
div.px-section-neutral * {
  flex-wrap: nowrap;
}
div.px-section-neutral .px-avg {
  font-size: 2rem;
  text-align: center;
}
div.px-section-neutral .px-diff-val {
  text-align: end;
}
div.summary-section-up {
  animation: 1s update-animation-up;
  border: 1px solid #26a69a;
  border-radius: 0.5rem;
  color: #26a69a;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}
@keyframes update-animation-up {
  from {
    box-shadow: inset 0 0 1rem #26a69a;
  }
  to {
    box-shadow: unset;
  }
}
@keyframes update-animation-warning-up {
  from {
    box-shadow: inset 0 0 1rem white;
  }
  to {
    box-shadow: unset;
  }
}
div.summary-section-up.section-warning {
  animation: 1s update-animation-warning-up;
  background-color: #ef5350;
  color: white;
}
div.summary-section-up * {
  flex-wrap: nowrap;
}
div.summary-section-up .total-section {
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
}
div.summary-section-up .realization-up {
  text-align: end;
}
div.summary-section-up:not(.section-warning) .realization-up {
  color: #26a69a;
}
div.summary-section-up .realization-down {
  text-align: end;
}
div.summary-section-up:not(.section-warning) .realization-down {
  color: #ef5350;
}
div.summary-section-up .realization-neutral {
  text-align: end;
}
div.summary-section-up:not(.section-warning) .realization-neutral {
  color: #fafafa;
}
div.summary-section-down {
  animation: 1s update-animation-down;
  border: 1px solid #ef5350;
  border-radius: 0.5rem;
  color: #ef5350;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}
@keyframes update-animation-down {
  from {
    box-shadow: inset 0 0 1rem #ef5350;
  }
  to {
    box-shadow: unset;
  }
}
@keyframes update-animation-warning-down {
  from {
    box-shadow: inset 0 0 1rem white;
  }
  to {
    box-shadow: unset;
  }
}
div.summary-section-down.section-warning {
  animation: 1s update-animation-warning-down;
  background-color: #ef5350;
  color: white;
}
div.summary-section-down * {
  flex-wrap: nowrap;
}
div.summary-section-down .total-section {
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
}
div.summary-section-down .realization-up {
  text-align: end;
}
div.summary-section-down:not(.section-warning) .realization-up {
  color: #26a69a;
}
div.summary-section-down .realization-down {
  text-align: end;
}
div.summary-section-down:not(.section-warning) .realization-down {
  color: #ef5350;
}
div.summary-section-down .realization-neutral {
  text-align: end;
}
div.summary-section-down:not(.section-warning) .realization-neutral {
  color: #fafafa;
}
div.summary-section-neutral {
  animation: 1s update-animation-neutral;
  border: 1px solid #fafafa;
  border-radius: 0.5rem;
  color: #fafafa;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}
@keyframes update-animation-neutral {
  from {
    box-shadow: inset 0 0 1rem #fafafa;
  }
  to {
    box-shadow: unset;
  }
}
@keyframes update-animation-warning-neutral {
  from {
    box-shadow: inset 0 0 1rem white;
  }
  to {
    box-shadow: unset;
  }
}
div.summary-section-neutral.section-warning {
  animation: 1s update-animation-warning-neutral;
  background-color: #ef5350;
  color: white;
}
div.summary-section-neutral * {
  flex-wrap: nowrap;
}
div.summary-section-neutral .total-section {
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
}
div.summary-section-neutral .realization-up {
  text-align: end;
}
div.summary-section-neutral:not(.section-warning) .realization-up {
  color: #26a69a;
}
div.summary-section-neutral .realization-down {
  text-align: end;
}
div.summary-section-neutral:not(.section-warning) .realization-down {
  color: #ef5350;
}
div.summary-section-neutral .realization-neutral {
  text-align: end;
}
div.summary-section-neutral:not(.section-warning) .realization-neutral {
  color: #fafafa;
}

/*# sourceMappingURL=main.module.css.map */
