div {
  $theme-running: #ffffff;
  $theme-closing: #ff6161;

  &.period-timer {
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    width: 7rem;
    text-align: end;

    &.period-timer-running {
      border: 1px solid $theme-running;
      color: $theme-running;
    }

    &.period-timer-closing {
      border: 1px solid $theme-closing;
      color: $theme-closing;
    }

    & > span {
      font-family: monospace;
      font-size: 1.7rem;
    }
  }
}
