html,
body {
  padding: 0;
  margin: 1rem 2rem;
  font-family:
    'Trebuchet MS',
    Calibri,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: #1a1a1a;
  color: #fafafa;
  font-size: 14px;
}

div#root {
  background-color: #1a1a1a;
  color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

