@mixin common-style {
  padding: 0.25rem 0.5rem !important;
}

tr {
  &.order-entry-row {
    & > td, & > td > input {
      @include common-style;
    }
  }
}

td {
  // !important is needed to override default bootstrap style
  &.buy {
    background-color: rgba(25, 74, 179, 0.7) !important;
  }

  &.sell {
    background-color: rgba(179, 53, 25, 0.7) !important;
  }
}

button {
  &.order-px-button {
    width: 2.4rem;
  }
}
